@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
	--pink-color: #D3D3D3;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	height: 100vh;
	display: flex;
    background-image: url('img/BG.jpg');
    background-size: cover;
	justify-content: center;
	align-items: center;
}

.card {
	width: 300px;
	height: 400px;
	border-radius: 10px;
	text-align: center;
	background-color: #242628;
	overflow: hidden;
	margin: 120px 30px 0;
}

.card__img {
	width: 120px;
	height: 120px;
	overflow: hidden;
	transition: 0.25s;
	margin: 0 auto;
	transform: translateY(25px);
	border-radius: 50%;
	border: 4px solid var(--pink-color);
	cursor: pointer;
}

.card__img:hover {
	width: 100%;
	height: 100%;
	border-radius: unset;
	border: unset;
	transform: unset;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

h2 {
	color: white;
	margin-top: 40px;
}

p {
	color: var(--pink-color);
}

.card__social a {
	text-decoration: none;
	color: white;
	margin: 25px 20px 40px;
	display: inline-block;
	font-size: 18px;
	transition: 0.25s;
}

.card__social a:hover {
	color: var(--pink-color);
}

button {
	outline: none;
	border: none;
	color: white;
	background-color: transparent;
	border: 1px solid var(--pink-color);
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.25s;
}

button:hover {
	background-color: var(--pink-color);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0);
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	flex-direction: column;
}

header > img {
	width: 9em;
	height: 9em;
	border-radius: 100%;
	border: 2px solid #D3D3D3;
	box-shadow: #D3D3D3 0px 2px 8px 0px; 
}

header > h1 {
	display: inline-block;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 1em;
	background-color: #000 ;
	color: white;
	padding: 0.3em 0.6em;
	border: 2px solid #fffa;
	margin-top: 10px;
}